.btn {
    font-family: 'lora', 'san-serif';
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 6px;
    font-weight: 500;
    font-size: 1.7em;
    padding: .8rem;    
    width: 100%;  
    text-decoration: none; 
    transition: 0.2s;
    margin-left: 4em;
    top: 90;
}


.btn:hover {
    background-color: rgb(165, 165, 165)
}
