.card {
  background-color: rgb(255, 255, 255);
  width: 32%;
  height: auto;
  float: left;
  margin: 5px;
  border: solid .8px rgb(162, 162, 162);
  border-radius: 5px;  
}

.titulos {
  font-family: 'lora', 'san-serif';
  font-weight: 600;
  font-size: 2em;
  color: rgb(66, 93, 148);
  text-align: center; 
  padding: .4em;  
  margin: 0;
}

.descricao {
  font-family: 'lora', 'san-serif';
  font-weight: 400;
  font-size: 1.4em;
  color: rgb(68, 68, 68);   
  text-align: center;  
  margin: 0 0.5em;
  margin-bottom: .5em;
}

.images {
  width: 100%;
  box-sizing: content-box;
  height: auto;
  border-radius: 4px 4px 0 0;
}

