.background { 
    background-image: url(../img/fundoprodutos.jpg);
    width: 100%;
    height: 45em;
    background-size: 100%;
    background-repeat: no-repeat;
  }

.logo {
    width: 9rem;
    float: right;
    margin-top: 6em;
    margin-right: 8em;    
}

.titulo_principal {
  padding-top: 10%;
  font-family: 'lora', 'san-serif';
  font-weight: 400;
  text-align: left;
  font-size: 4.5rem;
  color: white; 
  line-height: 1.2em;
  margin-right: 7.8em;
  margin-left: 1.5em;
  margin-bottom: .5em;
}

  .styles.parag {
    font-family: 'lora', 'san-serif';
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: white; 
    margin-right: 8em;
    margin-left: 8em;   
    padding-top: .3em;
    padding-bottom: .3em;
  }

  .descricao3 {
    font-family: 'lora', 'san-serif';
    font-weight: 400;
    font-size: 28px;
    line-height: 2.5rem;
    color: rgb(82, 82, 82);   
    text-align: center;     
    margin-top: 0;   
    display: block;
    clear: both;
    margin: 1em 9em;
  
  }

  .logo_fim {
    width: 11rem;  
    margin: auto;
    display: block;
  }
  